<h1>New beer</h1>


<%= form_for(@beer) do |f| %>
	Name: <br><%= f.text_field :name %><br>  

	Style: <br><%= f.select :style, options_for_select(@styles) %><br>
	Brewery: <br><%= f.select :brewery_id, options_from_collection_for_select(@breweries, :id, :to_s) %><br>
  

  <%= f.submit %>
<% end %>
<br>
<%= link_to 'Back', beers_path %>
